<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action = "/upload" method = "POST" enctype="multipart/form-data">
        <h1>Please Choose File to Encrypt</h1>
        <input type = "file" name = "file" required>
        <button type="submit">Submit</button> 
        <br>
    </form>

    <form action = "/download" method = "POST" >
        <h1>Else Enter Key to Decrypt</h1>
        <input type = "text" name = "key">
        <button type = "submit">Submit</button>
    </form>
</body>
</html>